body {
  padding: 100px;
  background: url("img/background-01-01-01.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 80px;
  font-family: sans-serif;
  font-weight: bold;
  background-color: white;
  color: black;
}

button {
  background-color: white;
  border: 2px solid gray;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 80px;
  font-weight: bold;
}
